@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.lower-body {
    margin: 10px;
}

.normal-text, .normal-text-container {
    font-size: 22px;
}

.page-header {
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
}