@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.lower-body {
    margin: 10px;
}

.normal-text, .normal-text-container {
    font-size: 22px;
}

.page-header {
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
}

.link-style {
    border-color: black;    
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: lightgray;
}

.link-style:hover {
    background-color: rgb(180, 180, 180);
}

.home-text{
    width: 800px;
}
.home-text>p{
    text-indent: 45px;
}

.link-img{
    height: 22px;
    width: 22px;
    display: inline-block;
}

.normal-page {
    margin-left: 20px;
}